@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Rubik+Wet+Paint&family=Secular+One&display=swap');
@keyframes flicker{
    0%, 100% {box-shadow: 0 0 20px rgba(255, 255, 200, 0.6);}
    50% {box-shadow: 0 0 20px rgba(255, 255, 200, 0.2);}
}

nav {
    background-color: #f4f4f4;
    box-shadow: 
        0 0 10px rgba(255, 255, 150, 0.6),
        0 0 10px rgba(255, 255, 150, 0.4),
        0 0 10px rgba(255, 255, 150, 0.2);
    border-radius: 4vw;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    animation: flicker 1.5s infinite;
    z-index: 2;
}

nav a {
    font-family: "Creepster", system-ui;
    font-size: 3vw;
    text-shadow: 
        -1px -1px 1px rgb(222, 241, 180),
        -1px 1px 1px rgb(222, 241, 180),
        1px -1px 1px rgb(222, 241, 180),
        1px 1px 1px rgb(222, 241, 180),
        0 0 5px rgb(222, 241, 180),
        0 0 15px rgb(222, 241, 180),
        0 0 25px rgb(222, 241, 180),
        0 0 40px rgb(201, 233, 133),
        0 0 50px rgb(207, 249, 118);
    color: #4a484f;
    border-color: #fff8c6;
    text-decoration: 0.5em 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: 
        background 0.3s,
        box-shadow 0.3s;
    z-index: 2;
}

nav a:hover{
    background-color: #fff8c6;
    box-shadow: 0 0 15px rgba(255, 255, 150, 0.8);
    z-index: 2;
}

body{
    margin: 0;
    height: 100%;
    background: linear-gradient( 
        to bottom,
        #e4e1e1 0%,
        #3d3838 100%);
    overflow: scroll;
    position: relative;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    padding: 2em;
}

h1{
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Creepster", system-ui;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
}

p{
    font-family: "Rubik Wet Paint", system-ui;
    font-style: normal;
    font-size: 16px
}

a {
    font-family: "Rubik Wet Paint", system-ui;
    font-style: normal;
    font-size: 50px;
    color:rgb(122, 21, 8);
}

.light-wrapper{
    position: relative;
    overflow: hidden;
}

.spotlight{
    position: absolute;
    width: 35vw;
    height: 35vw;
    background: radial-gradient(circle, rgb(246, 246, 201),rgb(159, 159, 127) 70%, rgba(255, 255, 255,0) 100%);
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: screen;
    transform: translate(-50%, -50%);
    animation: flicker 4.5s infinite;
    z-index: 1; 
}

.normal-img{
    width: 45vw;
    height: 45vw;
    z-index: -3;
}